{% extends '@KDCore/base.html.twig' %}

{% block title %} - Erreur{% endblock %}

{% block main %} <h1>Erreur</h1>

    <p> Tout va bien, mais une erreur s'est produite, si cela se
    reproduit veuillez contacter l'administrateur du site. </p>

{% endblock %}
