{% extends '@KDCore/base.html.twig' %}

{% block title %} - Erreur 404{% endblock %}

{% block main %}
    <h1>Adresse inconnue</h1>
        
    <p>
    Tout va bien, mais l'adresse que vous tentez d'atteindre est inconnue du serveur. 
    </p>

{% endblock %}
