{% extends '@KDCore/base.html.twig' %}

{% block title %} - Accès refusé{% endblock %}

{% block main %}
    <h1>Accès refusé</h1>
        
    <p>
    Vous n'avez pas accès à cette partie du site.
    </p>

{% endblock %}
