{% extends '@KDCore/base.html.twig' %}

{% block title %} - Erreur 500{% endblock %}

{% block main %} <h1>Erreur</h1>

    <p> Une erreur s'est produite au sein du serveur et nous ne pouvons
    pas afficher votre page. Si cela se reproduit, vous pouvez prendre
    contact avec l'administrateur du site.</p>

{% endblock %}
