{# Contient le code html de la fenêtre d'information utilisée dans diverses parties de l'application #}
<div class="modal fade" tabindex="-1" id="app_modal">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Chargement...</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body">

            </div>
        </div>
    </div>
</div>