{# Pour fonctionnner, ce fichier doit être inclu dans un template qui inclut aussi
        /Includes/HTML/modal.html.twig
        /Includes/JS/qcm_modal.js.twig
    #}

{# Ce lien permet d'afficher le modal et le mettre à jour avec le détail d'un QCM #}
<a href="#app_modal" 
   data-toggle="modal" 
   onclick="detailQCM({{qcm.id}})" 
   title="Voir le QCM">
    <i class="fas fa-eye fa-lg"></i>
</a>
