<script>

    {# Pour fonctionnner, ce fichier doit être inclu dans un template qui inclut aussi
        /Includes/HTML/modal.html.twig
        /Includes/HTML/question_modal_link.html.twig
    #}
    
    /**
     * Déclenche la requête ajax pour récupérer le détail d'une question
     * 
     * @param id
     */
    function detailQuestion(id){

        $("#modal_title").text("Chargement...");
        $("#modal_body").html("");
        $.ajax({
            url: "{{path("detail_question")}}",
            method: "post",
            data: {id: id}
        }).done(function(msg){
            updateModal(msg);
        });
    }

    /**
     * Met à jour le modal avec le résultat de la requête
     */
    function updateModal(msg){

        $("#modal_title").text(JSON.parse(msg["title"])) ;

        $.each(JSON.parse(msg["reponses"]),function(i,reponse){

            if(reponse.vrai)
                $("#modal_body").append("<p class='text-success'>"+reponse.texte+"</p>");
            else
                $("#modal_body").append("<p class='text-danger'>"+reponse.texte+"</p>");
        });
    }
</script>